{% extends 'app/base.html' %}
{% load static %}


{% block title %}
    <title>关于我们</title>
{% endblock %}

{% block body %}

    <div class="hll_zxDetail" style="width:996px;margin-left: 15%">
		<div class="login_bt" style="text-align:center; padding-left:0; width:996px; background:#fff; line-height:30px; height:30px; margin-bottom:10px;">
			<span style="float:left; width:40%; display:inline-block; border-top:1px dashed #d5d5d5; margin-top:14px;"></span>
			<span style="width:15%; display:inline-block; color:#909090; font-weight:bold; font-size:16px;">关于我们</span>
			<span style="float:right; width:40%; display:inline-block; border-top:1px dashed #d5d5d5; margin-top:14px;"></span>
		</div>
		<!-- <h2 style="border-bottom:1px dashed #cececb; padding-bottom:15px; margin-bottom:15px;">关于我们</h2> -->
		<!-- <div class="nr_xx"></div>
		<div class="nr_ms" style="width:100%;">
			<p class="p1" style="text-align: center;">
				<span style="color: rgb(0, 204, 255);">
				<span style="font-size: 24px;">
					<span style="font-family: 黑体;">
						<strong><u>关于我们<br><br></u></strong>
					</span>
				</span>
				</span>
			</p>
		</div> -->
		<div>
		<p><img src="/static/imgaes/imgs/1544409927136109.jpg" alt="关于我们1.jpg"></p>		</div>
	</div>

{% endblock %}