.hll_gwlc {
	OVERFLOW: hidden; BORDER-TOP: #000 3px solid; BORDER-RIGHT: #d3d3d3 1px solid; WIDTH: 978px; BORDER-BOTTOM: #d3d3d3 1px solid; MARGIN: 0px auto 10px; BORDER-LEFT: #d3d3d3 1px solid; -webkit-box-shadow: 0px 0px 2px #D9D9D9, 1px 1px 2px #D9D9D9; box-shadow: 0px 0px 2px #D9D9D9, 1px 1px 2px #D9D9D9; -moz-box-shadow: 0px 0px 2px #D9D9D9, 1px 1px 2px #D9D9D9
}
.hll_gwlc UL {
	OVERFLOW: hidden; BORDER-TOP: #fafafa 1px; HEIGHT: 79px; BORDER-RIGHT: #fafafa 1px solid; WIDTH: 976px; BACKGROUND: url(../images/hll_gwlc_bg.jpg) repeat-x 0px 0px; BORDER-BOTTOM: #fafafa 1px solid; BORDER-LEFT: #fafafa 1px solid
}
.hll_gwlc LI {
	FONT-SIZE: 14px; HEIGHT: 79px; WIDTH: 162px; BACKGROUND: url(../images/hll_gwlc_fgx.jpg) no-repeat 0px 0px; FLOAT: left; FONT-WEIGHT: bold; COLOR: #848484; TEXT-ALIGN: center; LINE-HEIGHT: 79px; text-shadow: 1px 1px 0px #FFFFFF
}
.hll_gwlc LI.no_bg {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.hll_gwlc LI.xz {
	COLOR: #000
}
.hll_gwcList {
	OVERFLOW: hidden; WIDTH: 996px; MARGIN: 0px auto 15px
}
.hll_gwc3 {
	OVERFLOW: hidden; WIDTH: 996px; MARGIN: 0px auto 15px
}
.hll_gwc4 {
	OVERFLOW: hidden; WIDTH: 996px; MARGIN: 0px auto 15px
}
.hll_gwc5 {
	OVERFLOW: hidden; WIDTH: 996px; MARGIN: 0px auto 15px
}
.hll_gwcList TABLE {
	OVERFLOW: hidden; WIDTH: 100%
}
.hll_gwcList TABLE TH {
	HEIGHT: 30px; BACKGROUND: #ededed; FONT-WEIGHT: lighter; COLOR: #626262; LINE-HEIGHT: 30px
}
.hll_gwcList TABLE TD {
	BACKGROUND: url(../images/hb_line.jpg) repeat-x 0px bottom; PADDING-BOTTOM: 16px; TEXT-ALIGN: center; PADDING-TOP: 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.hll_gwcList TABLE TD.no_bg {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.hll_gwcList TABLE .pic {
	OVERFLOW: hidden; BORDER-TOP: #e3e3e3 1px solid; HEIGHT: 60px; BORDER-RIGHT: #e3e3e3 1px solid; WIDTH: 60px; BORDER-BOTTOM: #e3e3e3 1px solid; FLOAT: left; MARGIN: 0px 10px; BORDER-LEFT: #e3e3e3 1px solid; DISPLAY: inline
}
.hll_gwcList TABLE .sp_xx {
	WIDTH: 200px; FLOAT: left; COLOR: #9c9c9c; TEXT-ALIGN: left; LINE-HEIGHT: 1.6
}
.hll_gwcList TABLE .sp_xx SPAN {
	HEIGHT: 20px; DISPLAY: block
}
.hll_gwcList TABLE .sp_xx A {
	TEXT-DECORATION: none; COLOR: #000
}
.hll_gwcList TABLE TD A {
	TEXT-DECORATION: underline; COLOR: #000
}
.hll_gwcList TABLE TD IMG {
	VERTICAL-ALIGN: middle
}
.hll_gwcList TABLE TD INPUT {
	VERTICAL-ALIGN: middle
}
.hll_gwcList TABLE TD INPUT.bg {
	BORDER-TOP: #bebebe 1px solid; HEIGHT: 18px; BORDER-RIGHT: #bebebe 1px solid; WIDTH: 60px; BACKGROUND: url(../images/hll_inputBg.jpg) no-repeat 0px 0px; BORDER-BOTTOM: #bebebe 1px solid; TEXT-ALIGN: center; PADDING-TOP: 4px; BORDER-LEFT: #bebebe 1px solid
}
.hll_gwcList TABLE TD SPAN.price {
	FONT-WEIGHT: bold; COLOR: #d40122
}
.hll_gwcCz {
	OVERFLOW: hidden; WIDTH: 100%; PADDING-BOTTOM: 12px; PADDING-TOP: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.hll_gwcCz .cz_left {
	FLOAT: left; PADDING-LEFT: 30px
}
.hll_gwcCz .cz_left IMG {
	MARGIN-RIGHT: 3px
}
.hll_gwcCz .cz_right {
	FONT-SIZE: 14px; FONT-FAMILY: "΢���ź�"; FLOAT: right; PADDING-RIGHT: 20px
}
.hll_gwcCz .cz_right IMG {
	MARGIN-LEFT: 6px
}
.hll_gwcCz .cz_right SPAN {
	FONT-SIZE: 15px; COLOR: #d40122
}
.hll_gwcCz IMG {
	VERTICAL-ALIGN: middle
}
.hll_gwc3 .tit {
	OVERFLOW: hidden; WIDTH: 95%; PADDING-BOTTOM: 25px; PADDING-TOP: 30px; PADDING-LEFT: 0px; MARGIN: 0px auto; PADDING-RIGHT: 0px
}
.hll_gwc3 .tit IMG {
	VERTICAL-ALIGN: middle; FLOAT: left; MARGIN: -4px 8px 0px 0px
}
.hll_gwc3 .tit H3 {
	FONT-SIZE: 14px; FLOAT: left; COLOR: #000; MARGIN-RIGHT: 15px
}
.hll_gwc3 .tit SPAN {
	CURSOR: pointer; HEIGHT: 23px; WIDTH: 120px; BACKGROUND: url(../images/btn_bg.jpg) no-repeat 0px 0px; FLOAT: left; COLOR: #d40122; TEXT-ALIGN: center; MARGIN-TOP: -3px; LINE-HEIGHT: 23px
}
.hll_gwc3 .tx_xx {
	WIDTH: 97%; BACKGROUND: url(../images/hb_line.jpg) repeat-x 0px bottom; PADDING-BOTTOM: 20px; MARGIN: 0px auto
}
.hll_gwc3 .tx_xx UL {
	OVERFLOW: hidden; WIDTH: 88%; MARGIN: 0px auto
}
.hll_gwc3 .tx_xx LI {
	FLOAT: left
}
.hll_gwc3 .tx_xx LI.text_right {
	FONT-SIZE: 14px; WIDTH: 20%; TEXT-ALIGN: right; PADDING-TOP: 13px
}
.hll_gwc3 .tx_xx LI DIV.xx {
	FLOAT: left; PADDING-BOTTOM: 8px; PADDING-TOP: 11px; PADDING-LEFT: 0px; DISPLAY: inline; LINE-HEIGHT: 30px; PADDING-RIGHT: 0px; MARGIN-RIGHT: 10px
}
.hll_gwc3 .tx_xx INPUT {
	VERTICAL-ALIGN: middle; MARGIN-TOP: -4px
}
.hll_gwc3 .tx_xx INPUT.bg {
	BORDER-TOP: #bebebe 1px solid; HEIGHT: 21px; BORDER-RIGHT: #bebebe 1px solid; WIDTH: 270px; BACKGROUND: url(../images/hll_inputBg.jpg) no-repeat 0px 0px; BORDER-BOTTOM: #bebebe 1px solid; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 6px; PADDING-LEFT: 5px; BORDER-LEFT: #bebebe 1px solid; PADDING-RIGHT: 0px
}
.hll_gwc3 .tx_xx SPAN.ts {
	HEIGHT: 18px; BACKGROUND: url(../images/ts_tb.jpg) no-repeat 0px 0px; FLOAT: left; COLOR: #707070; PADDING-LEFT: 18px; MARGIN-TOP: 12px; DISPLAY: none; LINE-HEIGHT: 17px
}
.hll_gwc3 .tx_xx SPAN.cw {
	HEIGHT: 18px; BACKGROUND: url(../images/th_ju.gif) no-repeat 0px 0px; FLOAT: left; COLOR: red; PADDING-LEFT: 18px; MARGIN-TOP: 12px; LINE-HEIGHT: 17px
}
.hll_gwc3 .tx_xx SPAN.zq {
	HEIGHT: 18px; BACKGROUND: url(../images/fzcg_dh.gif) no-repeat 0px 0px; FLOAT: left; COLOR: #707070; PADDING-LEFT: 18px; MARGIN-TOP: 12px; LINE-HEIGHT: 17px
}
.hll_gwc3 .tx_xx UL.hover_bg {
	BORDER-TOP: #dcdcdc 1px solid; BORDER-RIGHT: #dcdcdc 1px solid; BACKGROUND: #f8f8f8; BORDER-BOTTOM: #dcdcdc 1px solid; BORDER-LEFT: #dcdcdc 1px solid
}
.hll_gwc3 .tx_xx UL.hover_bg LI DIV.xx {
	PADDING-BOTTOM: 7px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.hll_gwc3 .tx_xx UL.hover_bg LI.text_right {
	PADDING-TOP: 12px
}
.hll_gwc3 .tx_xx UL.hover_bg LI SPAN.ts {
	DISPLAY: block
}
.hll_gwc3_cz {
	PADDING-BOTTOM: 15px; PADDING-TOP: 18px; PADDING-LEFT: 240px; CLEAR: both; PADDING-RIGHT: 0px
}
.hll_gwc4 {
	PADDING-TOP: 10px
}
.hll_gwc4 .tit {
	FONT-FAMILY: "΢���ź�"; PADDING-BOTTOM: 0px; PADDING-TOP: 20px; PADDING-LEFT: 50px; CLEAR: both; PADDING-RIGHT: 0px
}
.hll_gwc4 .tit H3 {
	FONT-SIZE: 14px; FLOAT: left; COLOR: #000; MARGIN-RIGHT: 10px
}
.hll_gwc4 .tit A {
	FLOAT: left; COLOR: #d40122
}
.hll_gwc4 .xx_zs {
	OVERFLOW: hidden; FONT-FAMILY: "΢���ź�"; WIDTH: 915px; BACKGROUND: url(../images/hb_line.jpg) repeat-x 0px bottom; PADDING-BOTTOM: 16px; PADDING-TOP: 10px; PADDING-LEFT: 40px; MARGIN: 0px auto; LINE-HEIGHT: 1.8; PADDING-RIGHT: 0px
}
.hll_gwc4 .psfs {
	OVERFLOW: hidden; FONT-FAMILY: "΢���ź�"; WIDTH: 915px; BACKGROUND: url(../images/hb_line.jpg) repeat-x 0px bottom; PADDING-BOTTOM: 16px; PADDING-TOP: 10px; PADDING-LEFT: 40px; MARGIN: 0px auto; LINE-HEIGHT: 1.8; PADDING-RIGHT: 0px
}
.hll_gwc4 .ps_time {
	OVERFLOW: hidden; FONT-FAMILY: "΢���ź�"; WIDTH: 915px; BACKGROUND: url(../images/hb_line.jpg) repeat-x 0px bottom; PADDING-BOTTOM: 16px; PADDING-TOP: 10px; PADDING-LEFT: 40px; MARGIN: 0px auto; LINE-HEIGHT: 1.8; PADDING-RIGHT: 0px
}
.hll_gwc4 .psfs {
	PADDING-BOTTOM: 8px
}
.hll_gwc4 .psfs LI {
	OVERFLOW: hidden; WIDTH: 100%; FLOAT: left; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.hll_gwc4 .psfs LI INPUT {
	VERTICAL-ALIGN: middle; MARGIN-TOP: -5px
}
.hll_gwc4 .psfs LI SPAN.ms {
	COLOR: #848484; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; PADDING-LEFT: 20px; CLEAR: both; DISPLAY: block; PADDING-RIGHT: 0px
}
.hll_gwc4 .psfs LI A {
	TEXT-DECORATION: underline; COLOR: #d40122
}
.hll_gwc4 .psfs LI SPAN.ms INPUT {
	BORDER-TOP: #bebebe 1px solid; HEIGHT: 18px; BORDER-RIGHT: #bebebe 1px solid; WIDTH: 60px; BACKGROUND: url(../images/hll_inputBg.jpg) no-repeat 0px 0px; BORDER-BOTTOM: #bebebe 1px solid; TEXT-ALIGN: center; PADDING-TOP: 4px; MARGIN: 0px; BORDER-LEFT: #bebebe 1px solid
}
.hll_gwc4 .ps_time INPUT {
	BORDER-TOP: #bebebe 1px solid; HEIGHT: 18px; BORDER-RIGHT: #bebebe 1px solid; WIDTH: 60px; BACKGROUND: url(../images/hll_inputBg.jpg) no-repeat 0px 0px; BORDER-BOTTOM: #bebebe 1px solid; TEXT-ALIGN: center; PADDING-TOP: 4px; MARGIN: 0px; BORDER-LEFT: #bebebe 1px solid
}
.hll_gwc4 .psfs LI SPAN.ms IMG {
	VERTICAL-ALIGN: middle
}
.hll_gwc4 .psfs LI SPAN.ms P {
	MARGIN: 8px 0px 0px
}
.hll_gwc4_cz {
	WIDTH: 100%; PADDING-BOTTOM: 15px; TEXT-ALIGN: center; PADDING-TOP: 18px; PADDING-LEFT: 0px; CLEAR: both; PADDING-RIGHT: 0px
}
.hll_gwc4_cz IMG {
	MARGIN: 0px 2px
}
.hll_gwc4 .xx_zsBg {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.hll_gwc_ddzj {
	FONT-FAMILY: "΢���ź�"; WIDTH: 90%; COLOR: #575757; PADDING-BOTTOM: 20px; TEXT-ALIGN: right; PADDING-TOP: 18px; PADDING-LEFT: 0px; MARGIN: 0px auto; PADDING-RIGHT: 0px
}
.hll_gwc_ddzj P {
	MARGIN: 10px 0px 0px
}
.hll_gwc_ddzj TEXTAREA {
	BORDER-TOP: #bebebe 1px solid; HEIGHT: 50px; BORDER-RIGHT: #bebebe 1px solid; WIDTH: 320px; VERTICAL-ALIGN: top; BACKGROUND: url(../images/hll_inputBg.jpg) no-repeat 0px 0px; BORDER-BOTTOM: #bebebe 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 6px; PADDING-LEFT: 5px; BORDER-LEFT: #bebebe 1px solid; MARGIN-TOP: -2px; PADDING-RIGHT: 0px
}
.hll_gwc_ddzj LABEL {
	FONT-SIZE: 14px; COLOR: #000
}
.hll_gwc_ddzj SPAN {
	COLOR: #d40122; MARGIN-RIGHT: 20px
}
.hll_gwc_ddzj B {
	FONT-SIZE: 16px; COLOR: #d40122
}
.hll_gwc_yhq {
	OVERFLOW: hidden; BORDER-TOP: #dedede 1px solid; BORDER-RIGHT: #dedede 1px solid; WIDTH: 40%; BACKGROUND: #fff; BORDER-BOTTOM: #dedede 1px solid; POSITION: relative; FLOAT: left; PADDING-BOTTOM: 5px; TEXT-ALIGN: left; PADDING-TOP: 5px; PADDING-LEFT: 10px; BORDER-LEFT: #dedede 1px solid; LINE-HEIGHT: 2; PADDING-RIGHT: 10px
}
.hll_gwc_yhq INPUT.bg {
	BORDER-TOP: #bebebe 1px solid; HEIGHT: 18px; BORDER-RIGHT: #bebebe 1px solid; WIDTH: 80px; BACKGROUND: url(../images/hll_inputBg.jpg) no-repeat 0px 0px; BORDER-BOTTOM: #bebebe 1px solid; TEXT-ALIGN: center; PADDING-TOP: 4px; MARGIN: 0px 5px 0px 0px; BORDER-LEFT: #bebebe 1px solid
}
.hll_gwc_yhq TABLE {
	WIDTH: 100%
}
.hll_gwc_yhq TABLE TD {
	BORDER-TOP: #dedede 1px solid; BORDER-RIGHT: #dedede 1px solid; BORDER-BOTTOM: #dedede 1px solid; PADDING-BOTTOM: 3px; TEXT-ALIGN: center; PADDING-TOP: 3px; PADDING-LEFT: 0px; BORDER-LEFT: #dedede 1px solid; PADDING-RIGHT: 0px
}
.hll_gwc_yhq TABLE TH {
	TEXT-ALIGN: center
}
.yhq_colse {
	CURSOR: pointer; HEIGHT: 25px; WIDTH: 50px; RIGHT: 6px; POSITION: absolute; TEXT-ALIGN: right; DISPLAY: none; LINE-HEIGHT: 25px; TOP: 4px
}
.yhq_box {
	CURSOR: pointer
}
.sy_yhq {
	CURSOR: pointer
}
.hll_gwc5 .h_jiezhang {
	HEIGHT: 30px; BACKGROUND: #ededed; MARGIN-TOP: 10px; LINE-HEIGHT: 30px
}
.hll_gwc5 .h_jiezhang P {
	FONT-SIZE: 16px; MARGIN-LEFT: 10px
}
.tij {
	WIDTH: 280px; TEXT-ALIGN: center; MARGIN: 20px auto 80px
}
.tij A {
	CURSOR: pointer; FONT-SIZE: 16px; HEIGHT: 45px; WIDTH: 130px; BACKGROUND: #ff0; FLOAT: left; TEXT-ALIGN: center; MARGIN-LEFT: 10px; DISPLAY: block; LINE-HEIGHT: 45px
}
.tij A.fanhui {
	BACKGROUND: #ededed
}
.tij A:hover {
	TEXT-DECORATION: none; COLOR: #626262
}
.hll_gwc5 H2 {
	FONT-SIZE: 17px; HEIGHT: 60px; FONT-FAMILY: "΢���ź�"; WIDTH: 260px; FONT-WEIGHT: lighter; MARGIN: 60px auto 20px; LINE-HEIGHT: 60px
}
HTML > BODY .hll_gwc5 H2 SPAN {
	HEIGHT: 62px; WIDTH: 68px; BACKGROUND: url(../images/cg_ts1.png) no-repeat; FLOAT: left; MARGIN-RIGHT: 10px
}
* .hll_gwc5 H2 SPAN {
	HEIGHT: 60px; WIDTH: 80px; FLOAT: left; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="images/cg_tb.png"); MARGIN-TOP: 15px
}
.hll_gwc5 .dd_xx {
	FONT-FAMILY: "΢���ź�"; WIDTH: 100%; PADDING-BOTTOM: 50px; TEXT-ALIGN: center; LINE-HEIGHT: 1.8
}
.hll_gwc5 .dd_xx SPAN {
	COLOR: #87d0e3
}
.hll_gwc5 .dd_xx B {
	FONT-SIZE: 14px; COLOR: #87d0e3
}
.hll_gwc5 .xz_banks {
	OVERFLOW: visible; HEIGHT: auto !important; MARGIN: 0px auto
}
.hll_gwc5 .xz_banks DL {
	LINE-HEIGHT: 25px
}
.hll_gwc5 .xz_banks DL SPAN {
	MARGIN-LEFT: 10px
}
.hll_gwc5 .xz_banks DIV.xz_div {
	OVERFLOW: hidden; CLEAR: both; LINE-HEIGHT: 1.7
}
.hll_gwc5 .xz_banks LABEL.xz_label {
	MARGIN-RIGHT: 5px
}
.hll_gwc5 .xz_banks P {
	MARGIN: 12px 0px 0px
}
.hll_gwc5 .xz_banks B.xz_b {
	FONT-SIZE: 14px; CLEAR: both
}
.hll_gwc5 .xz_banks SPAN.zx_span {
	BORDER-TOP: #bdbdbd 1px dashed; COLOR: #848484; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 10px; DISPLAY: block; LINE-HEIGHT: 1.8; PADDING-RIGHT: 10px
}
.hll_gwc5 .xz_banks SPAN.zx_span A {
	COLOR: #87d0e3
}
.loginin {
	HEIGHT: 30px; WIDTH: 295px; COLOR: red; TEXT-ALIGN: center; MARGIN: 20px 0px 10px; LINE-HEIGHT: 30px
}
.gwc_loginBox {
	OVERFLOW: hidden; WIDTH: 996px; MARGIN: 0px auto
}
.login_bt {
	OVERFLOW: hidden; FONT-SIZE: 16px; HEIGHT: 30px; WIDTH: 986px; BACKGROUND: #ededed; PADDING-LEFT: 10px; MARGIN: 10px auto; LINE-HEIGHT: 30px
}
.gwc_login .login_k INPUT {
	WIDTH: 208px; COLOR: #626262
}
.gwc_login {
	WIDTH: 300px; FLOAT: left; MARGIN-RIGHT: 100px
}
.gwc_login H3 {
	MARGIN-BOTTOM: 10px; TEXT-ALIGN: left; PADDING-LEFT: 10px; LINE-HEIGHT: 40px
}
.gwc_regsetp H3 {
	MARGIN-BOTTOM: 10px; TEXT-ALIGN: left; PADDING-LEFT: 10px; LINE-HEIGHT: 40px
}
.gwc_ksBuy H3 {
	MARGIN-BOTTOM: 10px; TEXT-ALIGN: left; PADDING-LEFT: 10px; LINE-HEIGHT: 40px
}
.gwc_regsetp H3 SPAN {
	FONT-SIZE: 12px; COLOR: #87d0e3; MARGIN-LEFT: 15px
}
.gwc_regsetp H3 SPAN I {
	HEIGHT: 16px; WIDTH: 23px; VERTICAL-ALIGN: middle; BACKGROUND: none transparent scroll repeat 0% 0%; DISPLAY: inline-block
}
.login_k {
	HEIGHT: 40px; WIDTH: 300px; BACKGROUND: #ededed; MARGIN: 0px auto 10px; LINE-HEIGHT: 40px
}
.regsetp_btn {
	HEIGHT: 40px; WIDTH: 300px; BACKGROUND: #ededed; MARGIN: 0px auto 10px; LINE-HEIGHT: 40px
}
.login_k DT {
	FONT-SIZE: 14px; BORDER-RIGHT: #fff 5px solid; WIDTH: 75px; FLOAT: left; TEXT-ALIGN: center
}
.login_k DD {
	POSITION: relative
}
.login_k DD DIV {
	WIDTH: 260px; RIGHT: -265px; POSITION: absolute; COLOR: #c0c0c0; TOP: 0px
}
.login_k DD DIV.login_ts {
	COLOR: red
}
.login_k DD DIV SPAN {
	FONT-FAMILY: "΢���ź�"; COLOR: red
}
.login_k DD DIV lable {
	COLOR: red
}
.login_k DD DIV IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
.login_k INPUT {
	BORDER-TOP-STYLE: none; HEIGHT: 38px; WIDTH: 205px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 10px; BORDER-LEFT-STYLE: none; LINE-HEIGHT: 38px
}
.login_k INPUT.bg {
	WIDTH: 138px
}
.gwc_regsetp {
	WIDTH: 300px; FLOAT: left; MARGIN-RIGHT: 100px
}
.gwc_regsetp .login_k DT {
	HEIGHT: 40px; BORDER-RIGHT: #fff 5px solid; WIDTH: 75px; TEXT-ALIGN: center
}
.gwc_regsetp .login_k INPUT {
	WIDTH: 207px; COLOR: #626262
}
.gwc_regsetp .login_k INPUT.bg {
	WIDTH: 140px
}
.gwc_ksBuy H3 {
	MARGIN-LEFT: -10px
}
.gwc_ksBuy {
	WIDTH: 180px; FLOAT: left; TEXT-ALIGN: center
}
.gwc_ksBuy H3 {
	MARGIN-BOTTOM: -4px; TEXT-ALIGN: center
}
.gwc_ksBuy DIV {
	MARGIN-BOTTOM: 10px; LINE-HEIGHT: 26px
}
.gwc_login_btn A {
	FONT-SIZE: 16px; HEIGHT: 40px; BACKGROUND: #87d0e3; FONT-WEIGHT: bold; COLOR: #fff; TEXT-ALIGN: center; DISPLAY: block; LINE-HEIGHT: 40px
}
.gwc_login_btn A:hover {
	TEXT-DECORATION: none
}
.gwc_regsetp .regsetp_ts {
	OVERFLOW: hidden; WIDTH: 215px; PADDING-LEFT: 85px; MARGIN: 0px auto 10px
}
.gwc_regsetp .regsetp_ts INPUT {
	VERTICAL-ALIGN: middle; MARGIN: -2px 5px 0px 0px
}
.regsetp_mm {
	HEIGHT: 30px; MARGIN-LEFT: 90px; DISPLAY: none
}
.regsetp_mm DD {
	FLOAT: left
}
.regsetp_mm DD.qd_box {
	BORDER-TOP: #87d0e3 1px solid; HEIGHT: 11px; BORDER-RIGHT: #87d0e3 1px solid; WIDTH: 100px; BORDER-BOTTOM: #87d0e3 1px solid; MARGIN: 3px 4px 0px; BORDER-LEFT: #87d0e3 1px solid
}
.regsetp_mm DD.qd_box SPAN {
	OVERFLOW: hidden; HEIGHT: 11px; BACKGROUND: #87d0e3; FLOAT: left
}
.regsetp_mm DD.qd_box SPAN.qd1 {
	WIDTH: 33%
}
.regsetp_mm DD.qd_box SPAN.qd2 {
	WIDTH: 67%
}
.regsetp_mm DD.qd_box SPAN.qd3 {
	WIDTH: 100%
}
.hll_gwc2_fgx {
	OVERFLOW: hidden; FONT-FAMILY: "΢���ź�"; WIDTH: 100%; BACKGROUND: url(../images/hb_line2.jpg) repeat-y 39% bottom; MARGIN: 15px 0px
}
.hll_gwc2_fgx H3 {
	FONT-SIZE: 14px; COLOR: #000; PADDING-BOTTOM: 20px; PADDING-TOP: 10px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px
}
.hll_gwc2_fgx .dl_xx {
	WIDTH: 350px; FLOAT: left; PADDING-BOTTOM: 20px; MARGIN-LEFT: 14px; DISPLAY: inline
}
.hll_gwc2_fgx .dl_xx UL {
	OVERFLOW: hidden; WIDTH: 348px; MARGIN: 0px auto
}
.hll_gwc2_fgx .dl_xx LI {
	WIDTH: 75%; FLOAT: left
}
.hll_gwc2_fgx .dl_xx LI.text_right {
	FONT-SIZE: 14px; WIDTH: 25%; TEXT-ALIGN: right; PADDING-TOP: 13px
}
.hll_gwc2_fgx .dl_xx LI DIV.xx {
	FLOAT: left; PADDING-BOTTOM: 8px; PADDING-TOP: 11px; PADDING-LEFT: 0px; DISPLAY: inline; LINE-HEIGHT: 30px; PADDING-RIGHT: 0px; MARGIN-RIGHT: 10px
}
.hll_gwc2_fgx .dl_xx LI IMG {
	MARGIN-LEFT: 5px; MARGIN-TOP: 3px
}
.hll_gwc2_fgx .dl_xx LI A {
	MARGIN-BOTTOM: 0px; TEXT-DECORATION: underline; COLOR: #000
}
.hll_gwc2_fgx .dl_xx LI LABEL {
	COLOR: #a6a6a6; MARGIN-LEFT: 10px
}
.hll_gwc2_fgx .dl_xx INPUT {
	VERTICAL-ALIGN: middle; MARGIN-TOP: -4px
}
.hll_gwc2_fgx .dl_xx INPUT.bg {
	BORDER-TOP: #bebebe 1px solid; HEIGHT: 21px; BORDER-RIGHT: #bebebe 1px solid; WIDTH: 190px; BACKGROUND: url(../images/hll_inputBg.jpg) no-repeat 0px 0px; BORDER-BOTTOM: #bebebe 1px solid; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 6px; PADDING-LEFT: 5px; BORDER-LEFT: #bebebe 1px solid; PADDING-RIGHT: 0px
}
.hll_gwc2_fgx .dl_xx INPUT.col {
	COLOR: #999
}
.hll_gwc2_fgx .dl_xx SPAN.ts {
	HEIGHT: 18px; BACKGROUND: url(../images/ts_tb.jpg) no-repeat 0px 0px; FLOAT: left; COLOR: #707070; PADDING-LEFT: 18px; MARGIN-TOP: 12px; DISPLAY: none; LINE-HEIGHT: 17px
}
.hll_gwc2_fgx .dl_xx SPAN.cw {
	HEIGHT: 18px; BACKGROUND: url(../images/th_ju.gif) no-repeat 0px -4px; FLOAT: left; COLOR: red; PADDING-LEFT: 18px; MARGIN-TOP: 12px; LINE-HEIGHT: 17px
}
.hll_gwc2_fgx .dl_xx SPAN.zq {
	HEIGHT: 18px; BACKGROUND: url(../images/fzcg_dh.gif) no-repeat 0px 0px; FLOAT: left; COLOR: #707070; PADDING-LEFT: 18px; MARGIN-TOP: 12px; LINE-HEIGHT: 17px
}
.hll_gwc2_fgx .dl_xx UL.hover_bg {
	BORDER-TOP: #dcdcdc 1px solid; BORDER-RIGHT: #dcdcdc 1px solid; BACKGROUND: #f8f8f8; BORDER-BOTTOM: #dcdcdc 1px solid; BORDER-LEFT: #dcdcdc 1px solid
}
.hll_gwc2_fgx .dl_xx UL.hover_bg LI DIV.xx {
	PADDING-BOTTOM: 7px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.hll_gwc2_fgx .dl_xx UL.hover_bg LI.text_right {
	PADDING-TOP: 12px
}
.hll_gwc2_fgx .dl_xx UL.hover_bg LI SPAN.ts {
	DISPLAY: block
}
.hll_gwc2_fgx .dl_xx .btn {
	PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 100px; PADDING-RIGHT: 0px
}
.hll_gwc2_fgx .dl_xx .btn IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
.hll_gwc2_fgx .dl_xx .btn A {
	TEXT-DECORATION: underline; COLOR: #000
}
.hll_gwc2_fgx .dl_xx .ts_xx {
	BORDER-TOP: #bfbfbf 1px dashed; TEXT-ALIGN: center; PADDING-TOP: 10px; MARGIN-TOP: 30px; LINE-HEIGHT: 1.7
}
.hll_gwc2_fgx .dl_xx .ts_xx SPAN {
	COLOR: #d21d24
}
.hll_gwc2_fgx .dl_xx .ts_xx A {
	FONT-WEIGHT: bold; COLOR: #d21d24
}
.hll_gwc2_fgx .zc_xx {
	MARGIN-LEFT: 30px
}
.hll_gwc2_fgx .dl_ks {
	HEIGHT: 345px; WIDTH: 184px; BACKGROUND: url(../images/hb_line2.jpg) repeat-y left bottom; PADDING-LEFT: 16px
}
.hll_gwc2_fgx .dl_ks .btn {
	PADDING-LEFT: 30px; MARGIN-TOP: 50px
}
.hll_gwc2_fgx .dl_xx .ks_xx {
	BORDER-TOP-STYLE: none; MARGIN-BOTTOM: 60px; FONT-SIZE: 14px; BORDER-BOTTOM-STYLE: none; TEXT-ALIGN: left; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 25px; BORDER-LEFT-STYLE: none; MARGIN-TOP: 0px
}
.hll_tabmain {
	OVERFLOW: hidden; BORDER-TOP: #d3d3d3 1px solid; BORDER-RIGHT: #d3d3d3 1px solid; WIDTH: 978px; BACKGROUND: url(../images/hll_tabmain.gif) #fafafa repeat-x 0px top; BORDER-BOTTOM: #d3d3d3 1px solid; MARGIN: 0px auto 15px; BORDER-LEFT: #d3d3d3 1px solid; -webkit-box-shadow: 0px 0px 2px #D9D9D9, 1px 1px 2px #D9D9D9; box-shadow: 0px 0px 2px #D9D9D9, 1px 1px 2px #D9D9D9; -moz-box-shadow: 0px 0px 2px #D9D9D9, 1px 1px 2px #D9D9D9
}
.hll_tabmain DIV.tit {
	OVERFLOW: hidden; HEIGHT: 35px; WIDTH: 100%; BACKGROUND: url(../images/hll_tabmain_BtBg.gif) repeat-x 0px top; LINE-HEIGHT: 35px
}
.hll_tabmain DIV.tit LI {
	CURSOR: pointer; BORDER-RIGHT: #d0d0d0 1px solid; WIDTH: 100px; FLOAT: left; TEXT-ALIGN: center
}
.hll_tabmain DIV.tit LI.cur {
	BACKGROUND: #ededed; FONT-WEIGHT: bold; COLOR: #000
}
.hll_tabmain DIV.box {
	OVERFLOW: hidden; WIDTH: 100%; PADDING-BOTTOM: 20px; DISPLAY: none
}
.hll_tabmain DIV.box LI {
	WIDTH: 145px; FLOAT: left; TEXT-ALIGN: center; MARGIN: 20px 8px 0px 35px; DISPLAY: inline
}
.hll_tabmain DIV.box LI DIV {
	OVERFLOW: hidden; BORDER-TOP: #212121 1px solid; HEIGHT: 145px; BORDER-RIGHT: #212121 1px solid; WIDTH: 145px; BORDER-BOTTOM: #212121 1px solid; BORDER-LEFT: #212121 1px solid
}
.hll_tabmain DIV.box LI SPAN {
	OVERFLOW: hidden; HEIGHT: 25px; WIDTH: 145px; LINE-HEIGHT: 25px
}
.hll_tabmain DIV.box LI LABEL {
	COLOR: #d21d24
}
.hll_tabmain DIV.box LI B {
	FONT-SIZE: 14px
}
.hll_tabmain DIV.box LI P {
	MARGIN: 8px 0px 0px
}
.gouwuche {
	/*OVERFLOW: hidden;*/ WIDTH: 996px; MARGIN: 0px auto
}
.jixu {
	OVERFLOW: hidden; WIDTH: 996px; MARGIN: 0px auto
}
.gouwuche P SPAN {
	FONT-SIZE: 16px; MARGIN: 10px 0px 0px; DISPLAY: block
}
.gouwuche TABLE.xq {
	/*OVERFLOW: hidden;*/ WIDTH: 990px; MARGIN: 0px
}
.gouwuche TABLE.xq TR {
	LINE-HEIGHT: 22px
}
.gouwuche TABLE.xq TH {
	HEIGHT: 27px; FONT-WEIGHT: normal; TEXT-ALIGN: left; LINE-HEIGHT: 27px; background:#ededed;
}
.gouwuche TABLE.xq DL {
	WIDTH: auto; MARGIN: 10px 0px 0px -20px
}

.gouwuche TABLE.xq DL.fujia {
	WIDTH: 220px; MARGIN: 10px 0px 0px 0px
}
.gouwuche TABLE.xq DL DT {
	OVERFLOW: hidden; HEIGHT: 65px; WIDTH: 65px; FLOAT: left; PADDING-BOTTOM: 10px
}
.gouwuche TABLE.xq DL DT IMG {
	HEIGHT: 65px; WIDTH: 65px
}
.gouwuche TABLE.xq DL DD {
	FONT-SIZE: 14px; FLOAT: left; TEXT-ALIGN: left; MARGIN-LEFT: 10px
}
.gouwuche TABLE.xq DL DD LABEL {
	OVERFLOW: hidden; FONT-SIZE: 12px; WIDTH: 120px; DISPLAY: block
}
.gouwuche TABLE.xq DL SPAN {
	BORDER-TOP-STYLE: none; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 20px; BORDER-LEFT-STYLE: none; DISPLAY: inline-block
}
.gouwuche TABLE.xq TH SPAN {
	WIDTH: 180px; BACKGROUND: #ededed; PADDING-LEFT: 20px; MARGIN: 0px 5px 0px 0px; DISPLAY: inline-block; text-align:center;
}
.gouwuche TABLE.xq TH.sb SPAN {
	WIDTH: 105px
}
.gouwuche TABLE.xq TH.sc SPAN {
	WIDTH: 70px
}
.gouwuche TABLE.xq TH.se SPAN {
	WIDTH: 105px
}
.gouwuche TABLE.xq TH.sf SPAN {
	WIDTH: 70px; MARGIN-RIGHT: 0px
}
.gouwuche TABLE.xq TR.b_line {
	BORDER-BOTTOM: #d5d5d5 1px solid
}
.gouwuche TABLE.xq TR TD {
	BORDER-BOTTOM: #d5d5d5 1px solid; /*PADDING-LEFT: 20px*/ text-align:center;
}
.gouwuche TABLE.xq TR TD A.jian {
	CURSOR: pointer; BORDER-TOP: #d5d5d5 1px solid; HEIGHT: 20px; BORDER-RIGHT: #d5d5d5 1px solid; WIDTH: 20px; BACKGROUND: #fff; BORDER-BOTTOM: #d5d5d5 1px solid; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: #d5d5d5 1px solid; DISPLAY: inline-block; LINE-HEIGHT: 20px; PADDING-RIGHT: 0px
}
.gouwuche TABLE.xq TR TD A.jian:hover {
	TEXT-DECORATION: none; COLOR: #626262
}
.gouwuche TABLE.xq TR TD INPUT {
	BORDER-TOP: #d5d5d5 1px solid; HEIGHT: 20px; BORDER-RIGHT: #d5d5d5 1px solid; WIDTH: 20px; BACKGROUND: #fff; BORDER-BOTTOM: #d5d5d5 1px solid; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: #d5d5d5 1px solid; DISPLAY: inline-block; LINE-HEIGHT: 20px; PADDING-RIGHT: 0px; MARGIN-RIGHT: 3px
}
.fudai TABLE.xq {
	DISPLAY: none
}
.fudai P.head {
	BORDER-BOTTOM: #d5d5d5 1px solid; PADDING-LEFT: 10px; LINE-HEIGHT: 34px
}
.fudai P SPAN {
	MARGIN: 0px; DISPLAY: inline-block
}
.fudai P I {
	HEIGHT: 15px; WIDTH: 22px; VERTICAL-ALIGN: middle; BACKGROUND: url(../images/bj_4.png) 0px -84px; MARGIN: 0px 6px; DISPLAY: inline-block
}
.fudai P I.up {
	BACKGROUND-POSITION: -23px -84px
}
.dd {
	MARGIN-TOP: 20px
}
.jixu P.xu {
	HEIGHT: 60px; WIDTH: 740px; FLOAT: left; LINE-HEIGHT: 60px
}
.jixu {
	TEXT-ALIGN: right
}
.jixu P.head {
	HEIGHT: 30px; LINE-HEIGHT: 30px
}
.jixu P.head A {
	COLOR: #6bc4df; PADDING-RIGHT: 10px
}
.jixu SPAN {
	MARGIN-BOTTOM: 20px; FONT-SIZE: 16px; BORDER-TOP: #d5d5d5 1px solid; HEIGHT: 60px; BORDER-RIGHT: #d5d5d5 1px solid; WIDTH: 230px; BACKGROUND: #ededed; BORDER-BOTTOM: #d5d5d5 1px solid; FLOAT: right; TEXT-ALIGN: center; PADDING-LEFT: 20px; BORDER-LEFT: #d5d5d5 1px solid; DISPLAY: inline-block; LINE-HEIGHT: 60px
}
.jixu SPAN A {
	FONT-SIZE: 14px; HEIGHT: 30px; WIDTH: 60px; BACKGROUND: #ff0; MARGIN-LEFT: 33px; DISPLAY: inline-block; LINE-HEIGHT: 30px
}
.jixu SPAN A:hover {
	TEXT-DECORATION: none; COLOR: #626262
}
.fudai TABLE.xq {
	DISPLAY: none
}
.jixu {
	POSITION: relative; TEXT-ALIGN: right
}
.jixu P.head LABEL {
	BORDER-TOP: #d5d5d5 1px; HEIGHT: 30px; BORDER-RIGHT: #d5d5d5 1px solid; WIDTH: 200px; BACKGROUND: #ededed; BORDER-BOTTOM: #d5d5d5 1px solid; FLOAT: left; TEXT-ALIGN: left; PADDING-LEFT: 20px; BORDER-LEFT: #d5d5d5 1px solid; LINE-HEIGHT: 30px
}
.jixu P.head LABEL I {
	HEIGHT: 15px; WIDTH: 22px; VERTICAL-ALIGN: middle; BACKGROUND: url(../images/bj_4.png) 0px -84px; MARGIN: 0px 6px; DISPLAY: inline-block
}
.jixu P.head LABEL.up I {
	BACKGROUND-POSITION: -23px -84px
}
.jixu P.head A {
	COLOR: #6bc4df; PADDING-RIGHT: 10px
}
.jixu SPAN {
	MARGIN-BOTTOM: 20px; FONT-SIZE: 16px; BORDER-TOP: #d5d5d5 1px solid; HEIGHT: 60px; BORDER-RIGHT: #d5d5d5 1px solid; WIDTH: 230px; BACKGROUND: #ededed; BORDER-BOTTOM: #d5d5d5 1px solid; TEXT-ALIGN: left; PADDING-LEFT: 20px; BORDER-LEFT: #d5d5d5 1px solid; DISPLAY: inline-block; LINE-HEIGHT: 60px
}
.jixu #submitid {
	RIGHT: 10px; POSITION: absolute; TOP: 16px
}
.jixu #submitid A {
	FONT-SIZE: 14px; HEIGHT: 30px; BACKGROUND: #ededed; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 13px; DISPLAY: inline-block; LETTER-SPACING: 0.2em; LINE-HEIGHT: 30px; PADDING-RIGHT: 13px
}
.gouwuche_pro .btn {
	FONT-SIZE: 14px; HEIGHT: 30px; BACKGROUND: #ededed; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 13px; DISPLAY: inline-block; LETTER-SPACING: 0.2em; LINE-HEIGHT: 30px; PADDING-RIGHT: 13px
}
.jixu #submitid A {
	BACKGROUND: #ff0
}
.jixu #submitid A:hover {
	TEXT-DECORATION: none; COLOR: #626262
}
.gouwuche_pro .btn:hover {
	TEXT-DECORATION: none; COLOR: #626262
}
.gouwuche_pro {
	DISPLAY: none
}

.gwc_left{float:left; width:500px; height:60px; line-height:60px;}
.gwc_check{float:left; width:15px; height:15px; overflow:hidden; margin-top:23px;}
.gwc_left i{float:left; margin-left:10px; font-style:normal;}
.gwc_left a{float:left; margin-left:30px; display:inline;}
.gwc_left a img{ margin-right:10px; display:inline;}



.popup{width:230px;padding:10px 0 10px;border:1px solid #d5d5d5;background:#fff;border-radius:10px;border-top-left-radius:0px;position:absolute;top:23px;z-index:5;left:10px;}
.pupip_ul{}
.pupip_ul li{position:relative;padding-left:10px; margin-top:10px;}
.pupip_ul li .wenb{overflow:hidden;font-size:14px;color:#959696;}
.pupip_ul li .wenb img{/*border:1px solid #000;*/float:left;}
.pupip_ul li .wenb span{padding-left:10px;float:left;line-height:18px;text-align:left; width:150px; height:55px; overflow:hidden;}
.pupip_ul li em{display:block;width:25px;height:30px;position:absolute;left:10px;top:50%;margin-top:-15px;}
.chk_1 {display: none; } 
.chk_1 + label { /*background: url(../images/duihao.png) no-repeat center;background-size:20px;*/display: inline-block;position: relative;width:20px;height:25px;} 
.chk_1:checked + label { /*background: url(../images/duihao_.png) no-repeat center;background-size:20px;*/ } 
.popup .anniu{padding-top:10px;text-align:center;}
.popup .anniu a{display:inline-block;width:55px;height:25px;line-height:25px;border-radius:5px;background:#ff0;color:#626262; text-decoration:none;font-size:12px;}
.popup .anniu a.bg-959696{background:#ededed;margin-left:30px; color:#fff}

.mflqu{width:80px;height:25px;line-height:25px;position:relative;}
.mflqu .mflqu_a{text-align:center;color:#626262;font-size:12px;/*padding-left:10px;*/text-decoration:none;display:block;width:100%;height:100%;border-radius:5px;/*background:#ff0 url(../images/xsj_t.png) no-repeat 70px center;background-size:10px;*/background:#ff0;position:absolute;z-index:3;margin-left:10px;}
.popup{display:none;}
.mflqu:hover .popup{display:block;}