@charset "utf-8";

.hll_zxList {
    margin: 0 auto 20px;
    width: 980px;
}
.hll_zxList h2 {
    background: rgba(0, 0, 0, 0) url("../images/list_BtBg.jpg") repeat-x scroll 0 bottom;
    border: 1px solid #cccccc;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 2px #d9d9d9, 1px 0 2px #d9d9d9;
    color: #000;
    font-family: "微软雅黑";
    font-size: 14px;
    height: 26px;
    padding: 6px 0 0 15px;
    width: 963px;
}
.hll_zxList .zxList {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #f6f6f6 url("../images/gwc_bkBg.jpg") repeat-x scroll 0 bottom;
    border-color: -moz-use-text-color #cccccc #cccccc;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-shadow: 0 0 2px #d9d9d9, 1px 1px 2px #d9d9d9;
    font-family: "宋体";
    overflow: hidden;
    width: 978px;
}
.hll_zxList .zxList ul {
    background: rgba(0, 0, 0, 0) url("../images/hb_line2.jpg") repeat-y scroll 50% 0;
    margin: 30px 0;
    overflow: hidden;
    width: 100%;
}
.hll_zxList .zxList li {
    color: #9c9c9c;
    float: left;
    height: 20px;
    line-height: 1.6;
    margin: 5px 0;
    overflow: hidden;
    padding-left: 35px;
    width: 453px;
}
.hll_zxList .zxList li span {
    color: #696969;
    display: inline-block;
    float: left;
    width: 360px;
}
.hll_zxList .zxList li a {
    color: #696969;
}
.hll_zxDetail {
  margin-top: 0px;
  float: left;
  width: 780px;
}
.hll_zxDetail h2 {
    color: #626262;
    font-size: 16px;
    overflow: hidden;
    padding: 10px 0 2px;
    width: 100%;
}
.hll_zxDetail .nr_xx {
    border-bottom: 1px dashed #cececb;
    color: #9c9c9c;
    line-height: 1.6;
    margin: 0 auto;
    padding: 0 1% 18px;
    text-align: center;
    width: 98%;
}
.hll_zxDetail .nr_xx span {
    color: #626262;
    font-size: 14px;
    margin-right: 30px;
}
.hll_zxDetail .nr_ms {
    line-height: 1.8;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
    width: 996px;
}
.hll_help {
    clear: both;
    margin: 0 auto;
    width: 980px;
}
.hll_help_l {
    float: left;
    padding-bottom: 20px;
    width: 200px;
}
.hll_help_l h2 {
    background: rgba(0, 0, 0, 0) url("../images/help_bt.jpg") no-repeat scroll 0 0;
    height: 34px;
    overflow: hidden;
    width: 100%;
}
.hll_help_l .help_menu {
    width: 198px;
}
.hll_help_l .tit {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #fff #fff -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    overflow: hidden;
    padding: 12px 0 10px 20px;
    width: 176px;
}
.hll_help_l .tit h3 {
    color: #000;
    float: left;
    font-size: 14px;
}
.hll_help_l .tit span {
    background: rgba(0, 0, 0, 0) url("../images/jian.jpg") no-repeat scroll 0 center;
    cursor: pointer;
    float: left;
    height: 13px;
    margin: 1px 10px 0 0;
    width: 7px;
}
.hll_help_l .tit span.cur {
    background: rgba(0, 0, 0, 0) url("../images/jia.jpg") no-repeat scroll 0 center;
}
.hll_help_l .help_menu ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #fff #fff;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    overflow: hidden;
    padding-bottom: 10px;
    width: 196px;
}
.hll_help_l .help_menu li {
    background: rgba(0, 0, 0, 0) url("../images/san_j.gif") no-repeat scroll 38px 8px;
    height: 22px;
    line-height: 24px;
    margin: 0 auto 3px;
    overflow: hidden;
    padding: 0 0 0 55px;
    width: 133px;
}
.hll_help_l .help_menu li.Bg_hover, .hll_help_l .help_menu li.xz_bg {
    background: rgba(0, 0, 0, 0) url("../images/help_hoverBg.gif") no-repeat scroll 0 0;
}
.hll_help_l .help_menu li.Bg_hover a, .hll_help_l .help_menu li.xz_bg a {
    color: #d76367;
}
.hll_help_r {
    float: right;
    overflow: hidden;
    padding: 13px 0;
    width: 768px;
}
.hll_help_r h3 {
    color: #000;
    font-size: 14px;
    padding: 0 0 12px 30px;
}
.hll_help_r div.xx_ms {
    border-top: 1px solid #c1bfc0;
    line-height: 1.8;
    margin: 0 auto;
    padding: 15px 15px 0 20px;
    width: 92.5%;
}


